@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 242 219 196;
  --tw-color-primary-100: 239 208 179;
  --tw-color-primary-200: 232 187 146;
  --tw-color-primary-300: 224 167 112;
  --tw-color-primary-400: 217 146 79;
  --tw-color-primary-500: 210 125 45;
  --tw-color-primary-600: 164 98 35;
  --tw-color-primary-700: 118 70 25;
  --tw-color-primary-800: 71 43 15;
  --tw-color-primary-900: 25 15 5;
  --color-primary-50: rgb(var(--tw-color-primary-50));
  --color-primary-100: rgb(var(--tw-color-primary-100));
  --color-primary-200: rgb(var(--tw-color-primary-200));
  --color-primary-300: rgb(var(--tw-color-primary-300));
  --color-primary-400: rgb(var(--tw-color-primary-400));
  --color-primary-500: rgb(var(--tw-color-primary-500));
  --color-primary-600: rgb(var(--tw-color-primary-600));
  --color-primary-700: rgb(var(--tw-color-primary-700));
  --color-primary-800: rgb(var(--tw-color-primary-800));
  --color-primary-900: rgb(var(--tw-color-primary-900));
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .pane {
    @apply flex w-full flex-col items-center justify-center gap-10 border-b bg-primary-800/5 py-12 backdrop-blur-sm transition-all duration-200 first:rounded-t-[7.5vw] last:rounded-b-[7.5vw] last:border-b-0 dark:border-primary-300/5 dark:bg-primary-300/5 md:flex-row md:items-start;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1280px */
    max-width: 80rem;

    @apply mx-auto w-5/6;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
